* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    /*********************
        libray
    *********************/

    .config_child_div{
        width:100%;
        background: rgba(202, 202, 202, 0.7); 
    }

div {
    text-align: center;
    padding: 8%;
}

.container-grid {
    display: grid;
    grid-template-areas: 'header header header header header' 'menu main main main aside' 'footer footer footer footer footer';
    background: rgba(253, 253, 253, 0.979);
    grid-gap: 10px;
    padding: 0;
}

.item1 {
    grid-area: header;
    color: #000;
    background: rgba(140, 140, 240, 0.39);
    width: 100%;
}

.item2 {
    grid-area: menu;
    position: fixed;
    margin-left:5px;
    padding: 1%;
    /* background: rgba(214, 203, 203, 0.3); */
    border-radius: 10px;
}

.item3 {
    grid-area: main;
    background: #fff; 
    border-radius: 10px;
}

.item4 {
    margin-right:5px;
    grid-area: aside;
    background: rgba(214, 203, 203, 0.3);
    border: 1px solid #dfddddf1;
    border-radius: 10px;
}

.item5 {
    grid-area: footer;
    background: black;
    padding: .1%;
}

.item5 ul, .item5 li{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

/* .item2 .card{
    padding: 10px;
} */

.item2 .card a{
    text-decoration: none;
    color: #fff;
}

.item2 ul, .item2 li{
    padding: 10px;
    display: block;
}

.item2 li{
    background: red;
    margin-bottom: 10px;
    border-radius: 20px;
}

.menu .card{
    /* background: red; */
    border-radius: 10px;
    float: left;
}

@media screen and (max-width:750px){
    .container-grid, .footer li{
        display: block;
    }
}